<h1> Quiz {{ quizId }} <br> Question ID: {{ questionId }} </h1>

<form id="mark-complete-button" action="/completeQuiz" method="post">
  <input type="submit" value="Mark quiz as complete">
</form>
<form action="/addQuestion" method="post" class="question-form">
  <!-- <a href="/newQuiz" id="mark-complete-button"> Mark quiz as complete </a> -->
  <div class="half top question-form">
    <textarea name="question" type="text" id="question-textarea" placeholder="Question">{{question}}</textarea>
  </div>
  <div class="half bottom question-form">
    <div class="choice-text">
      <input type="text" name="choiceA" id="choice-a-text" placeholder="Choice A" value={{choiceA}}>
      <input type="text" name="choiceB" id="choice-b-text" placeholder="Choice B" value={{choiceB}}>
      <input type="text" name="choiceC" id="choice-c-text" placeholder="Choice C" value={{choiceC}}>
      <input type="text" name="choiceD" id="choice-d-text" placeholder="Choice D" value={{choiceD}}>
    </div>
    <div class="choice-answer">
      Correct answer is:
      <div class="custom-dropdown">
        <select name="corrAns">
          <option value="" disabled hidden> Choose </option>
          <option value="A" {{isSelected "A"}}> Choice A </option>
          <option value="B" {{isSelected "B"}}> Choice B </option>
          <option value="C" {{isSelected "C"}}> Choice C </option>
          <option value="D" {{isSelected "D"}}> Choice D </option>
        </select>
    </div>
    </div>
  </div>
  <input type="submit" id="add-question-button" value="Add this question">
</form>
{{ error }}
